:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --theme-color: rgb(0, 200, 255);
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 0;
}

.a4-preview {
  font-size: 9pt;
  line-height: 18pt;
  letter-spacing: 1px;
  width: 210mm;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff !important;
  color: #000 !important;
}
.a4-page {
  box-shadow: 0 0 8px 4px #ccc;
  padding: 50px; /* 100px 50px 100px; */
  margin-top: 20px;
  page-break-after: always;
  position: relative;
  min-height: 294mm;
  box-sizing: border-box;
}
