.a4-container {
  font-size: 9pt;
  line-height: 18pt;
  letter-spacing: 1px;
  width: 210mm;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff !important;
  color: #000 !important;

}
.a4-container table {
  line-height: 1.5;
}
.a4-page {
  box-shadow: 0 0 8px 4px #ccc;
  padding: 50px; /* 100px 50px 100px; */
  margin-top: 20px;
  page-break-after: always;
  position: relative;
  min-height: 294mm;
  box-sizing: border-box;
}
.a4-page:first-child {
  margin-top: 30px;
}
.a4-page:last-child {
  page-break-after: unset;
  margin-bottom: 20px;
}

table.a4-table {
  border-collapse: collapse;
  border: 1px solid black;
}
table.a4-table td,
table.a4-table th {
  border: 1px solid black;
}

@media print {
  .a4-container {
    width: 100% !important;
  }
  .a4-container .a4-page {
    box-shadow: none;
    margin: 0;
    max-height: 294mm;
  }
  .a4-page:first-child {margin-top:0}
  img {
    max-height: 902px;
  }

  @page {
    size: a4;
    padding: 0;
    margin: 0; /* 0.4in 0 0.4in 0; */
    /* size: US-Letter; */
  }
}