<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3.2.37"></script>
    <script src="https://unpkg.com/html-to-a4-template@0.7.1/dist/html2a4tmpl.umd.js"></script>
    <title>Demo - Split rowspan td cell | Html to A4 Template</title>
  </head>

  <body>
    <div id="app">
      <div class="a4-container">
        <div class="a4-page">
          <div style="border: 1px solid gray; padding: 10px; margin: 10px 0; height: 766px">
            TEST BLOCK(height: 800px)
          </div>
          <h3 class="a4-unit">Table with 6 columns</h3>
          <table class="a4-table">
            <thead>
              <tr>
                <th v-for="th in 6" width="1%">Th - {{ th }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="_ in 3">
                <td v-for="__ in 6">-</td>
              </tr>
              <!-- Start: merge cells -->
              <tr>
                <td>-</td>
                <td rowspan="5" colspan="3" class="highlight-td">Test Cell 1</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>-</td>
                <td rowspan="5" class="highlight-td">Test Cell 2</td>
                <td>-</td>
              </tr>
              <tr v-for="_ in 3">
                <td v-for="_ in 2">-</td>
              </tr>
              <tr>
                <td v-for="_ in 5">-</td>
              </tr>
              <!-- End: merge cells -->
              <tr v-for="_ in 8">
                <td v-for="__ in 6">-</td>
              </tr>
            </tbody>
          </table>
          <div class="a4-unit-wrap">
            <p v-for="p in paragraphs1" v-text="p.content"></p>
          </div>
        </div>
      </div>
      <div class="btns">
        <button @click="refreshComp">Refresh</button>
        <button @click="startPaging">Paging</button>
        <button @click="execPrint">Print</button>
      </div>
    </div>
    <script type="module">
      const App = {
        data() {
          return {
            tableData: [],
            paragraphs1: [],
            pagingUtil: undefined,
          }
        },
        created() {
          this.paragraphs1 = Array.from({ length: 5 }).map((_, idx) => {
            return {
              id: idx + 1,
              content: this.mockParagraph(),
            }
          })
        },
        mounted() {
          this.pagingUtil = html2a4tmpl(null, 'manual')
          this.getData().then(res => {
            this.tableData = res
            // this.$nextTick(() => {
            //   this.pagingUtil?.execPaging()
            // })
          })
        },
        methods: {
          refreshComp() {
            location.reload()
          },
          startPaging() {
            this.pagingUtil?.execPaging()
          },
          execPrint() {
            window.print()
          },
          getData() {
            return new Promise((resolve, reject) => {
              setTimeout(() => {
                resolve(
                  Array.from({ length: 100 }).map((_, idx) => {
                    return {
                      id: idx + 1,
                      name: `Name ${idx}`,
                      age: Math.floor(Math.random() * 100),
                    }
                  })
                )
              }, 300)
            })
          },
          // 返回一个随机的单词
          mockWord() {
            const characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
            const length = Math.floor(Math.random() * 10) + 3
            let result = ''
            for (let i = 0; i < length; i++) {
              result += characters.charAt(Math.floor(Math.random() * characters.length))
            }
            return result
          },
          // 返回一个随机的句子，包含10到110个单词
          mockParagraph() {
            const wordLength = Math.floor(Math.random() * 100) + 10
            // 返回一个随机的句子，包含wordLength个单词
            return Array.from({ length: wordLength }, this.mockWord).join(' ')
          },
        },
      }
      const app = Vue.createApp(App)
      app.mount('#app')
    </script>
    <style>
      body {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        color: #2c3e50;
        margin: 0;
      }
      h1 {
        text-align: center;
      }
      .highlight-td {
        background-color: aqua;
      }
      .btns {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        border: 1px solid #666;
        border-radius: 4px;
        background-color: #f0f3f3;
      }
      .btns button + button {
        margin-left: 10px;
      }

      @media print {
        .btns {
          display: none;
        }
      }
    </style>
  </body>
</html>
